/* Write your CSS here */
.video-modal-container {
  width: auto;
  padding: 10px;
  border: 0;
  border-radius: 10x;
}

.popup-content {
  border: 0 solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.close-button {
  background-color: transparent;
  align-self: flex-end;
  border: 0;
  outline: none;
}

.close-icon {
  width: 30px;
  height: 30px;
}
